*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #ece5b6;
    

}
.ancho{
    /*margin-right: 5%;
    margin-left: 5%;*/
    margin: 5%;


}
.col-1{width: 8.33%}
  .col-2{width: 16.66%}
  .col-3{width: 25%}
  .col-4{width: 33.33%}
  .col-5{width: 41.66%}
  .col-6{width: 50%}
  .col-7{width: 58.33%}
  .col-8{width: 66.66%}
  .col-9{width: 75%}
  .col-10{width: 83.33%}
  .col-11{width: 91.66%}
  .col-12{width: 100%}
  
  [class*="col-"]{
      float: left;
      padding: 15px;
      /*border: 1px solid red;*/
  
  }
  
  .fila::after{
      content: "";
      clear: both;
      display: block;
  }
/*img{
    width: 100%;
    
}*/

/*DISEÑO DEL MENU*/
nav{
    background:rgba(34, 34, 34, 0.9);
    height: 90px;
    width: 100%;
    position: fixed;
    font-family: 'Playfair', serif;
    font-size: 38px;
    z-index: 100;

}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.icono{
    height: 85px;
    width: 85px;
    border-radius: 50%;
}
.icono1{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #ffffff;
    font-size: 22px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
li a:hover{
    background: #000090;
    transition: .5s;
    cursor: pointer;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/*Punto de interrupcion para celulares*/
@media (max-width: 768px){
    [class*="col-"]{
      width: 100%;
    }
    .ancho{
        margin-right: 3%;
        margin-left: 3%;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
        padding: 15px;
    }
    nav ul li a{
        font-size: 22px;
        padding:15px;

    }
    li a:hover, li a.active{
        background: none;
        color: #43c6db;
        padding: 15px;
    }
    #check:checked ~ ul{
        left:0;
    }
    
    .imagenes img{
        width: auto;
        height: 300px;
    }
    .ubic{
        width: 80%;
        height: 70%;
    }
    .contenedor-slider img{
    height: 40%;
    width: 100%;
}
    .biselado{
        height: 300px;
    }
    .biselado2{
        height: 600px;
    }

}
/*Diseño de recuadros*/
.biselado{
    border:1px solid #000000;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7) inset -2px -2px 3px rgba(0, 0, 0,.1), 2px 2px 10px rgba(0, 0, 0,.1);
    width: 90%;
    height: 250px;
    margin:auto ;

}
.biselado2{
    width: 90%;
    height: 440px;
    margin: auto;
    background: #ffffff;
    border-radius: 6px;
    border:1px solid #000000;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7) inset -2px -2px 3px rgba(0, 0, 0,.1), 2px 2px 10px rgba(0, 0, 0,.1);


}
/*Diseño para botones*/
button{
    font-family: 'Playfair', serif;
    font-size: 22px;
    text-align: center;
    background-color: #add8e6;
    border: groove;
    cursor: pointer;
    width: 200px;
    height: 45px;
    border-radius: 10px;
}


/*Diseño de titulos, subtitulo, descripcion*/
.TITULO
{
font-family: 'Playfair', serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5%;
}
.sub{
 font-family: 'Playfair', serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.subti{
 font-family: 'Playfair', serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}
.des{
    font-family: 'Playfair', serif;
    font-size: 22px;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
}
.icon{
    width: 250px;
    height:250px;
    border-radius: 50%;
}
.descu{
    font-family: 'Playfair', serif;
    font-size: 22px;
    text-align: center;
}
.tarjetas{
    border-radius: 16px;
    width: 90%;
    height: 50%;
    margin:auto;

}
.ubic{
    width: 95%;
    height: 400px;
    margin: auto;
} 
.imagenes{
    width: 90%;
    height: 440px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 6px;
}
.des1{
    font-family: 'Playfair', serif;
    font-size: 22px;
    text-align: justify;
    margin-left: 20px;
    padding:3px ;
}



/*ESTILO PIE DE PAGINA*/
footer{
    position: relative;
    margin-top: -10px;
    width: 100%;
    margin: 0px;
    clear: both;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
}
.pag{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Playfair', serif;
    font-size: 22px;
    text-align: center;
}

.telef{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    float: center;
   
}
.descr{
    font-family: 'Playfair', serif;
    font-size: 22px;
    text-align: justify;
}
.conta{
    font-family: 'Playfair', serif;
    font-size: 22px;
    text-align: center;
    cursor: pointer;

}

